<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>News front page</key>
		<string>http://feeds.bbci.co.uk/news/rss.xml</string>
	</dict>
	<dict>
		<key>Africa</key>
		<string>http://feeds.bbci.co.uk/news/world/africa/rss.xml</string>
	</dict>
	<dict>
		<key>Latine Americas</key>
		<string>http://feeds.bbci.co.uk/news/world/latin_america/rss.xml</string>
	</dict>
	<dict>
		<key>Asia</key>
		<string>http://feeds.bbci.co.uk/news/world/asia/rss.xml</string>
	</dict>
	<dict>
		<key>England</key>
		<string>http://feeds.bbci.co.uk/news/england/rss.xml</string>
	</dict>
	<dict>
		<key>Europe</key>
		<string>http://feeds.bbci.co.uk/news/world/europe/rss.xml</string>
	</dict>
	<dict>
		<key>Northern Ireland</key>
		<string>http://feeds.bbci.co.uk/news/northern_ireland/rss.xml</string>
	</dict>
	<dict>
		<key>Middle East</key>
		<string>http://feeds.bbci.co.uk/news/world/middle_east/rss.xml</string>
	</dict>
	<dict>
		<key>South Asia</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/south_asia/rss.xml</string>
	</dict>
	<dict>
		<key>UK</key>
		<string>http://feeds.bbci.co.uk/news/uk/rss.xml</string>
	</dict>
	<dict>
		<key>US &amp; Canada</key>
		<string>http://feeds.bbci.co.uk/news/world/us_and_canada/rss.xml</string>
	</dict>
	<dict>
		<key>Business</key>
		<string>http://feeds.bbci.co.uk/news/business/rss.xml</string>
	</dict>
	<dict>
		<key>Health</key>
		<string>http://feeds.bbci.co.uk/news/health/rss.xml</string>
	</dict>
	<dict>
		<key>Science/Nature</key>
		<string>http://feeds.bbci.co.uk/news/science_and_environment/rss.xml</string>
	</dict>
	<dict>
		<key>Scotland</key>
		<string>http://feeds.bbci.co.uk/news/scotland/rss.xml</string>
	</dict>
	<dict>
		<key>Wales</key>
		<string>http://feeds.bbci.co.uk/news/wales/rss.xml</string>
	</dict>
	<dict>
		<key>Technology</key>
		<string>http://feeds.bbci.co.uk/news/technology/rss.xml</string>
	</dict>
	<dict>
		<key>Entertainment</key>
		<string>http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml</string>
	</dict>
	<dict>
		<key>Magazine</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/uk_news/magazine/rss.xml</string>
	</dict>
</array>
</plist>
