<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>News front page</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/front_page/rss.xml</string>
	</dict>
	<dict>
		<key>Africa</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/africa/rss.xml</string>
	</dict>
	<dict>
		<key>Americas</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/americas/rss.xml</string>
	</dict>
	<dict>
		<key>Asia-Pacific</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/asia-pacific/rss.xml</string>
	</dict>
	<dict>
		<key>Europe</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/europe/rss.xml</string>
	</dict>
	<dict>
		<key>Middle East</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/middle_east/rss.xml</string>
	</dict>
	<dict>
		<key>South Asia</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/south_asia/rss.xml</string>
	</dict>
	<dict>
		<key>UK</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/uk_news/rss.xml</string>
	</dict>
	<dict>
		<key>Business</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/business/rss.xml</string>
	</dict>
	<dict>
		<key>Health</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/health/rss.xml</string>
	</dict>
	<dict>
		<key>Science/Nature</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/science/nature/rss.xml</string>
	</dict>
	<dict>
		<key>Technology</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/technology/rss.xml</string>
	</dict>
	<dict>
		<key>Entertainment</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/entertainment/rss.xml</string>
	</dict>
	<dict>
		<key>Have Your Say</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/talking_point/rss.xml</string>
	</dict>
	<dict>
		<key>Magazine</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/uk_news/magazine/rss.xml</string>
	</dict>
	<dict>
		<key>Latest Published Stories</key>
		<string>http://newsrss.bbc.co.uk/rss/newsonline_world_edition/latest_published_stories/rss.xml</string>
	</dict>
</array>
</plist>
